/*
#ffbaef
#fe8be4
#fe58d9
#ff2ccf
#d200a2
#ef00b8
*/

*{
    margin: 0;
    font-family: 'Zen Kurenaido', sans-serif;
    padding: 0;
}
body,html{
    height: 100vh;
}
nav{
    position: absolute;
    width: 100%;
    background-color: #d200a2;
}
.cursive-title{
    font-family: 'The Nautigal', cursive;
    font-size: 60px;
    color: #d200a2;
}
.cursive-title-light{
    font-family: 'The Nautigal', cursive;
    font-size: 60px;
    color: #ffbaef;
}
.title{
    color: #d200a2;
    font-size: 70px;
    font-family: 'The Nautigal', cursive;
    display: block;
}
button{
    font-size: 17px;
}
.sub-title{
    font-size: 30px;
    display: block;
}
.fondo-transparent{
    background-color: #ffbaef7a;
    display: block;
    padding: 40px;
}
#proyectos-nav{
    position: relative;
    width: 100%;
    background-color: transparent;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
#proyectos-nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
li a{
    display: inline-block;
    padding: .8rem 1rem;
}
ul a{
    text-decoration: none;
}
li .nav-a{
    display: inline-block;
    padding: .8rem 1rem;
    background-color: transparent;
    border:none;
}
ul .nav-a{
    text-decoration: none;
}
h2{
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 25px;
}
.contenedor{
    height: 100%;
    margin: 0 auto;
}
.header{
    min-height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}
#Inicio {
    background-color: rgb(53, 53, 53);
    background-image: url('../resources/fondoUno.gif');
    background-size: cover;
}
#Inicio div{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#Inicio h2{
    font-size: 3rem;
}
.text-justyfy{
    text-align: justify;
}
#Tecnologias{
    color: rgb(221, 221, 221);
    background-color: rgb(73, 73, 73);
}
#Tecnologias div{
    margin: auto;
}
#Tecnologias div h2{
    margin-bottom: 20px;
}
.tecnologiasIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#Citas{
    background-color: #ff2ccf;
}
.card{
    display: flex;
    justify-content: space-evenly;
}
.carta .titulo{
    font-size: 30px;
    margin-top: 5px;
    font-weight: 400;
}
.carta .subTitulo{
    font-size: 25px;
    margin-top: 5px;
    font-weight: 400;
}
.carta .descripcion{
    width: 70%;
    text-align: center;
    display: inline-block;
    text-align: justify;
    margin-top: 5px;
}
.carta a{
    border:rgb(53, 53, 53) solid 1px;
    border-radius: 5px;
    margin: 15px 10px;
    padding: 5px;
}
.tecnologiasCard img{
    width: 30px;    
    margin: 10px;
}
.status{
    color: rgb(226, 19, 19);
    margin: 5px 0px;
}
.status strong{
    color: rgb(221, 221, 221);
    margin: 5px 0px;
}

#misTrabajos{
    color: rgb(221, 221, 221);
    background-color: #ffbaef;
}
#Contacto{
    background-color: #ffbaef;
}
#Recursos{
    color: rgb(221, 221, 221);
    background-color: rgb(133, 133, 133);
}
.tecnologiasIcons > div{
    transition: background-color 0.5s ease;
}
.tecnologiasIcons > div:hover{
    border-radius: 5px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.colum{
    display: flex;
    flex-direction: column;
}
.col-6{
    width: 45vw;
}
.tecnologiasIcons img{
    width: 80px;    
    margin: 10px;
}
.tecnologiasIcons img:hover{
    width: 90px;
}
img{
    opacity: 0;
    transform: scale(0.9);
    transition: 0.7s ease-in-out all;
}
.visible{
    opacity: 1 !important;
    transform: scale(1) !important;
    transition: 0.5s ease-in-out all !important;
}
li > a:hover{
    color: #000;
}
a{
    color: #fff;
}
a:hover{
    color: #ef00b8;
}
footer{
    background-color: #fe8be4;
    color: rgb(41, 41, 41);
}
footer > div{
    padding: 2% 5%;
}
footer a{
    color: rgb(41, 41, 41);
}
.statusSuccess{
    color: seagreen;
}
.statusSuccess strong{
    color: white;
}
p{
    font-size: 18px;
}
.misTrabajos-proyectos{
    background-color: #d200a2;
    padding-top: 30px;
    padding-bottom: 60px;
}
.folderSelected{
    background-color: #d200a2;
}
.folderImg{
    padding: 25px;
}
.folderImg > img{
    height: 35vw;
    border-radius: 15px;
}
.folderInfo{
    display: flex;
    align-items: center;
}
.carta{
    display: flex;
    justify-content: space-evenly;
}
.link{
    color: #d200a2;
    text-decoration: none;
}
.form{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border-color: transparent;
}
.form-btn{
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    color: #ffbff0;
    background-color: #d200a2;
    border-color: transparent;
}